@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
}

.card-container {
  width: 375px;
  height: 709px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e8ff;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1440px) {
  .card-container {
    width: 1440px;
    height: 900px;
    background-image: url("../images/pattern-background-desktop.svg");
  }
}
.card-container .card {
  width: 327px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1440px) {
  .card-container .card {
    width: 450px;
  }
}
.card-container .card img {
  width: 100%;
}
.card-container .card h1 {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
  color: #1f2f56;
}
@media only screen and (min-width: 1440px) {
  .card-container .card h1 {
    font-size: 28px;
    margin-top: 40px;
  }
}
.card-container .card .description {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #7280a7;
  line-height: 25px;
  margin-top: 15px;
  width: 263px;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .description {
    font-size: 16px;
    line-height: 26px;
    width: 354px;
  }
}
.card-container .card .plan {
  height: 81px;
  width: 279px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7ff;
  border-radius: 11px;
  margin-top: 25px;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan {
    width: 354px;
    height: 98px;
  }
}
.card-container .card .plan .elements-container {
  height: 48px;
  width: 247px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan .elements-container {
    width: 306px;
  }
}
.card-container .card .plan .elements-container .music-image {
  width: 68px;
}
.card-container .card .plan .elements-container .music-image img {
  width: 48px;
}
.card-container .card .plan .elements-container .plan__text {
  width: 81px;
  height: 40px;
  text-align: center;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan .elements-container .plan__text {
    width: 92px;
    height: 48px;
  }
}
.card-container .card .plan .elements-container .plan__text .annual-plan {
  font-size: 14px;
  font-weight: 900;
  line-height: 18.52px;
  margin-bottom: 5px;
  color: #1f2f56;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan .elements-container .plan__text .annual-plan {
    font-size: 16px;
    line-height: 21.17px;
  }
}
.card-container .card .plan .elements-container .plan__text p {
  font-size: 14px;
  line-height: 18.52px;
  margin: 0;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan .elements-container .plan__text p {
    font-size: 16px;
    line-height: 21.17px;
  }
}
.card-container .card .plan .elements-container .change {
  display: block;
  width: 98px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan .elements-container .change {
    width: 146px;
  }
}
.card-container .card .plan .elements-container .change a {
  font-size: 13px;
  font-weight: 700;
  line-height: 17.2px;
  color: #3829e0;
}
.card-container .card .plan .elements-container .change a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #766CF1;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .plan .elements-container .change a {
    font-size: 14px;
    line-height: 18.52px;
  }
}
.card-container .card .button-proceed {
  width: 279px;
  height: 50px;
  margin-top: 25px;
  background-color: #3829e0;
  border: 0;
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: white;
}
.card-container .card .button-proceed:hover {
  background-color: #766CF1;
  cursor: pointer;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .button-proceed {
    width: 354px;
    margin-top: 30px;
  }
}
.card-container .card .button-cancel {
  width: 279px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 0;
  background-color: transparent;
  color: #7280a7;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
}
.card-container .card .button-cancel:hover {
  color: #1f2f56;
  cursor: pointer;
}
@media only screen and (min-width: 1440px) {
  .card-container .card .button-cancel {
    width: 354px;
    margin-top: 15px;
    margin-bottom: 33px;
  }
}/*# sourceMappingURL=style.css.map */