doctype html
html(lang=en)

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon-32x32.png")
        link(rel='stylesheet', href='style/style.css')
        title Frontend Mentor | Order summary card
    
    body
        .card-container
            .card 
                img(src="images/illustration-hero.svg", alt="")
                h1 Order Summary
                p.description You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!
                .plan 
                    .elements-container
                        .music-image
                            img(src="images/icon-music.svg", alt="")
                        .plan__text 
                            h3.annual-plan Annual Plan
                            p $59.99/year
                        .change
                            a(href="#") Change
                button.button-proceed Proceed to Payment
                button.button-cancel Cancel Order
            .attribution 
                span Challenge by 
                a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor
                span . Coded by 
                a(href="https://github.com/LuisCBeltran", target="_blank") Luis C. Beltrán
                span .

    